.productList{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
.productElement{
    width: 200px;
    margin:20px 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    list-style: none;
    color: #000;
}
.productElement img{
    width: 200px;
    height: 200px;
    display: block;
}