.headerTittle{
    margin-top: 50px;
}

.mouseColor{
    background-color: tomato;
    height: 300px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mouseColorChild{
    width: 400px;
    height: 150px;
    background-color: lime;
}